@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #f8fafe;
}
a {
  text-decoration: none;
  font-weight: 600;
}
ul li {
  list-style: none;
}
p {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
.nav-link a {
  margin-left: 10px;
  color: #3a3a3a;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-link a:hover {
  background-color: #202124;
  color: #fff;
}

/* Hero Area Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.hero-section img {
  width: 500px;
}
.hero-content {
  padding-right: 40px;
}
.hero-content h1 {
  font-size: 40px;
}
.hero-content p {
  font-size: 18px;
  margin: 20px 0;
}
.hero-content span {
  color: tomato;
  font-size: 32px;
}
